body {
  font-family: Helvetica, Tahoma, Arial, "Microsoft YaHei", "微软雅黑", SimSun, "宋体", STXihei, "华文细黑", Heiti, "黑体", sans-serif;
  font-size: 1em;
  padding: 0;
  margin: 0;
}
body a {
  text-decoration: none;
  color: #4183c4;
}
body :hover {
  text-decoration: underline;
}
img {
  max-width: 100%;
}
.container{
    height: 90%;
    width: 100%;
}
#text-404{
    font-family: Helvetica, Arial, sans-serif;
    color: #fcfcfc;
    margin: auto;
    text-align: center;
    left: 0;
    right: 0;
    width: 100%;
    font-size: 7em;
    font-weight: 800;
    letter-spacing: -0.02em;

    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
}
footer{
    opacity:0.6;
    text-align: center;font-weight: normal;font-size: 14px;
}