/**
 * @theme Blue-Snow
 * @author 许诺
 * @email i@xunuo.com
 * @date 2017.12.23
 **/

/**
 * Base reset
 **/

html * {
  color: #657b83;
  font-family: "Lucida Bright", "monospace", "Monaco", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", "Roboto", "Lantinghei SC", "Lantinghei TC", "Microsoft YaHei", "ff-din-web-pro-1", "ff-din-web-pro-2", sans-serif;
  font-size: 18px;
  line-height: 1.68;
  font-style: normal;
  vertical-align: baseline;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: #fff;
  margin: 40px 70px;
}

h1,h2,h3,h4,h5,h6,p,blockquote,ol,ul,li,img {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  -ms-border-radius: 0.3em;
  -o-border-radius: 0.3em;
  border-radius: 0.3em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0 1px 4px;
  -moz-box-shadow: rgba(0, 0, 0, 0.15) 0 1px 4px;
  box-shadow: rgba(0, 0, 0, 0.15) 0 1px 4px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: #fff 0.5em solid;
  margin-top: 10px;
  margin-bottom: 10px;
}

/**
 * Title
 **/

h1,h2,h3,h4,h5,h6 {
  color: #4984EF;
  border-color: #4984EF;
  font-weight: lighter;
  text-transform: capitalize;
  margin-top: 40px;
  margin-bottom: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 22px;
  line-height: 30px;
  padding-bottom:12px;
  text-transform: uppercase;
  font-weight: bold;
  border-bottom: 2px solid;
  text-align: center;
}

h2 {
  border-bottom: 2px solid;
  font-size: 20px;
  line-height: 28px;
  font-weight: bold;
  padding-bottom:12px;
}

h3 {
  font-size: 18px;
  line-height: 22px;
  border-left: 4px solid #4984EF;
  font-weight: bold;
  padding-left: 8px;
  margin-left: 4px;
}

h4 {
  font-size: 16px;
  line-height: 20px;
}

h5 {
  font-size: 16px;
  line-height: 18px;
}

h6 {
  font-size: 16px;
  line-height: 18px;
}

h3,h4,h5,h6 {
  border-bottom: none;
}


/**
 * Text
 **/

p {
  font-weight: lighter;
  margin-bottom: 24px;
  line-height: 30px;
  padding-left: 16px;
  padding-right: 16px;
}

strong {
  font-weight: bold;
  color: #df2d00 !important;
}

a, a:active, a:visited {
  color: #586e75;
}

a:hover {
  background-color: #eee8d5;
}

a,a:active,a:visited {
  color: #4984EF;
}

/**
 * List / Block
 **/

ul ul {
  list-style-type: circle;
}

ul ul,ol ol,ul ol,ol ul {
  margin-top: 10px;
}

ol,ul {
  list-style-type: decimal;
  margin-bottom: 24px;
  padding-left: 34px;
}

ol li > :first-child {
  color: #495770;
}

li {
  margin-bottom: 10px;
}

li p {
  padding-left: 0;
}

li blockquote {
  margin-left: 0;
}

hr {
  background: #4984EF;
  border: none;
  height: 2px;
  margin: 32px 0;
}

blockquote {
  padding:16px 0 4px 0;
  background: #f8f8f8;
  border-left: 8px solid #e6e6e6;
  margin-left: 16px;
}

blockquote p{
  padding: 0 12px;
  color: #929b9a;
}

blockquote > :first-child {
  margin-top: 0;
}

blockquote > :last-child {
  margin-bottom: 15px;
}

/**
 * Table
 **/

table {
  border-collapse: collapse;
  border-spacing: 0;
  margin-top: 0.8rem;
  margin-bottom: 1.4rem;
}

tr {
  background-color: #fff;
  border-top: 1px solid #ccc;
}

th, td {
  padding: 5px 14px;
  border: 1px solid #ddd;
  text-align: left;
}


/**
 * Colorful code
 **/

pre {
  margin-bottom: 18px;
}

pre,code {
  font-family:"Monaco","Source Code Pro", "Menlo";
  color: #859900;
  background: #fafafa;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: 10px;
  margin-left: 16px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 4px;
  border: 1px solid #E2E2E2;
}

code{
  font-size: 16px;
  display:block;
  padding: 10px;
  background: #eff4f8;
}

code span{
  font-size: 16px;
}

code.url {
  color: #4984EF;
}

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #eff4f8;
  color: #657b83;
  -webkit-text-size-adjust: none;
}

.hljs-comment,.diff .hljs-header,.hljs-doctype,.hljs-pi,.lisp .hljs-string {
  color: #93a1a1;
}

.hljs-keyword,.hljs-winutils,.method,.hljs-addition,.css .hljs-tag,.hljs-request,.hljs-status,.nginx .hljs-title {
  color: #859900;
}

.hljs-number,.hljs-command,.hljs-string,.hljs-tag .hljs-value,.hljs-rule .hljs-value,.hljs-doctag,.tex .hljs-formula,.hljs-regexp,.hljs-hexcolor,.hljs-link_url {
  color: #708400;
}

.hljs-title,.hljs-localvars,.hljs-chunk,.hljs-decorator,.hljs-built_in,.hljs-identifier,.vhdl .hljs-literal,.hljs-id,.css .hljs-function,.hljs-name {
  color: #2aa198;
}

.hljs-attribute,.hljs-variable,.lisp .hljs-body,.smalltalk .hljs-number,.hljs-constant,.hljs-class .hljs-title,.hljs-parent,.hljs-type,.hljs-link_reference {
  color: #26847b;
}

.hljs-preprocessor,.hljs-preprocessor .hljs-keyword,.hljs-pragma,.hljs-shebang,.hljs-symbol,.hljs-symbol .hljs-string,.diff .hljs-change,.hljs-special,.hljs-attr_selector,.hljs-subst,.hljs-cdata,.css .hljs-pseudo,.hljs-header {
  color: #cb4b16;
}

.hljs-deletion,.hljs-important {
  color: #dc322f;
}

.hljs-link_label {
  color: #6c71c4;
}

.tex .hljs-formula {
  background: #d6e4f0 !important;
}

/* END & Thank you! */
