/**
 * @theme Blue-Snow
 * @author 许诺
 * @email i@xunuo.com
 * @date 2017.12.23
 * @compile https://www.sassmeister.com/
 **/

/**
 * Base reset
 **/


.doc-article-inner * {
  color: #657b83 !important;
  font-family: "Lucida Bright", "monospace", "Monaco", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", "Roboto", "Lantinghei SC", "Lantinghei TC", "Microsoft YaHei", "ff-din-web-pro-1", "ff-din-web-pro-2", sans-serif !important;
  font-size: 18px !important;
  line-height: 1.68 !important;
  font-style: normal !important;
  vertical-align: baseline !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
}

.doc-article-inner {
  background: #fff !important;
  margin: 40px 70px !important;
}


.doc-article-inner{


h1,h2,h3,h4,h5,h6,p,blockquote,ol,ul,li,img {
  margin: 0 !important;
  padding: 0 !important;
}

img {
  max-width: 100% !important;
  -webkit-border-radius: 0.3em !important;
  -moz-border-radius: 0.3em !important;
  -ms-border-radius: 0.3em !important;
  -o-border-radius: 0.3em !important;
  border-radius: 0.3em !important;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0 1px 4px !important;
  -moz-box-shadow: rgba(0, 0, 0, 0.15) 0 1px 4px !important;
  box-shadow: rgba(0, 0, 0, 0.15) 0 1px 4px !important;
  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  box-sizing: border-box !important;
  border: #fff 0.5em solid !important;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

/**
 * Title
 **/

h1,h2,h3,h4,h5,h6 {
  color: #4984EF !important;
  border-color: #4984EF !important;
  font-weight: lighter !important;
  text-transform: capitalize !important;
  margin-top: 40px !important;
  margin-bottom: 20px !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
}

h1 {
  font-size: 22px !important;
  line-height: 30px !important;
  padding-bottom:12px !important;
  text-transform: uppercase !important;
  font-weight: bold !important;
  border-bottom: 2px solid !important;
  text-align: center !important;
}

h2 {
  border-bottom: 2px solid !important;
  font-size: 20px !important;
  line-height: 28px !important;
  font-weight: bold !important;
  padding-bottom:12px !important;
}

h3 {
  font-size: 18px !important;
  line-height: 22px !important;
  border-left: 4px solid #4984EF !important;
  font-weight: bold !important;
  padding-left: 8px !important;
  margin-left: 4px !important;
}

h4 {
  font-size: 16px !important;
  line-height: 20px !important;
}

h5 {
  font-size: 16px !important;
  line-height: 18px !important;
}

h6 {
  font-size: 16px !important;
  line-height: 18px !important;
}

h3,h4,h5,h6 {
  border-bottom: none !important;
}


/**
 * Text
 **/

p {
  font-weight: lighter !important;
  margin-bottom: 24px !important;
  line-height: 30px !important;
  padding-left: 16px !important;
  padding-right: 16px !important;
}

strong {
  font-weight: bold !important;
  color: #df2d00 !important;
}

a, a:active, a:visited {
  color: #586e75 !important;
}

a:hover {
  background-color: #eee8d5 !important;
}

a,a:active,a:visited {
  color: #4984EF !important;
}

/**
 * List / Block
 **/

ul ul {
  list-style-type: circle !important;
}

ul ul,ol ol,ul ol,ol ul {
  margin-top: 10px !important;
}

ol,ul {
  list-style-type: decimal !important;
  margin-bottom: 24px !important;
  padding-left: 34px !important;
}

ol li > :first-child {
  color: #495770 !important;
}

li {
  margin-bottom: 10px !important;
}

li p {
  padding-left: 0 !important;
}

li blockquote {
  margin-left: 0 !important;
}

hr {
  background: #4984EF !important;
  border: none !important;
  height: 2px !important;
  margin: 32px 0 !important;
}

blockquote {
  padding:16px 0 4px 0 !important;
  background: #f8f8f8 !important;
  border-left: 8px solid #e6e6e6 !important;
  margin-left: 16px !important;
}

blockquote p{
  padding: 0 12px !important;
  color: #929b9a !important;
}

blockquote > :first-child {
  margin-top: 0 !important;
}

blockquote > :last-child {
  margin-bottom: 15px !important;
}

/**
 * Table
 **/

table {
  border-collapse: collapse !important;
  border-spacing: 0 !important;
  margin-top: 0.8rem !important;
  margin-bottom: 1.4rem !important;
}

tr {
  background-color: #fff !important;
  border-top: 1px solid #ccc !important;
}

th, td {
  padding: 5px 14px !important;
  border: 1px solid #ddd !important;
  text-align: left !important;
}


/**
 * Colorful code
 **/

pre {
  margin-bottom: 18px !important;
}

pre,code {
  font-family:"Monaco","Source Code Pro", "Menlo" !important;
  color: #859900 !important;
  background: #fafafa !important;
}

pre {
  white-space: pre-wrap !important;
  word-wrap: break-word !important;
  padding: 10px !important;
  margin-left: 16px !important;
  -webkit-border-radius: 3px !important;
  -moz-border-radius: 4px !important;
  border: 1px solid #E2E2E2 !important;
}

code{
  font-size: 16px !important;
  display:block !important;
  padding: 10px !important;
  background: #eff4f8 !important;
}

code span{
  font-size: 16px !important;
}

code.url {
  color: #4984EF !important;
}

.hljs {
  display: block !important;
  overflow-x: auto !important;
  padding: 0.5em !important;
  background: #eff4f8 !important;
  color: #657b83 !important;
  -webkit-text-size-adjust: none !important;
}

.hljs-comment,.diff .hljs-header,.hljs-doctype,.hljs-pi,.lisp .hljs-string {
  color: #93a1a1 !important;
}

.hljs-keyword,.hljs-winutils,.method,.hljs-addition,.css .hljs-tag,.hljs-request,.hljs-status,.nginx .hljs-title {
  color: #859900 !important;
}

.hljs-number,.hljs-command,.hljs-string,.hljs-tag .hljs-value,.hljs-rule .hljs-value,.hljs-doctag,.tex .hljs-formula,.hljs-regexp,.hljs-hexcolor,.hljs-link_url {
  color: #708400 !important;
}

.hljs-title,.hljs-localvars,.hljs-chunk,.hljs-decorator,.hljs-built_in,.hljs-identifier,.vhdl .hljs-literal,.hljs-id,.css .hljs-function,.hljs-name {
  color: #2aa198 !important;
}

.hljs-attribute,.hljs-variable,.lisp .hljs-body,.smalltalk .hljs-number,.hljs-constant,.hljs-class .hljs-title,.hljs-parent,.hljs-type,.hljs-link_reference {
  color: #26847b !important;
}

.hljs-preprocessor,.hljs-preprocessor .hljs-keyword,.hljs-pragma,.hljs-shebang,.hljs-symbol,.hljs-symbol .hljs-string,.diff .hljs-change,.hljs-special,.hljs-attr_selector,.hljs-subst,.hljs-cdata,.css .hljs-pseudo,.hljs-header {
  color: #cb4b16 !important;
}

.hljs-deletion,.hljs-important {
  color: #dc322f !important;
}

.hljs-link_label {
  color: #6c71c4 !important;
}

.tex .hljs-formula {
  background: #d6e4f0 !important;
}

/**
 * only for lark
 **/
.typo-content .emoji{
  border:none !important;
  margin-top:0 !important;
  margin-bottom:0 !important;
}

/* END & Thank you! */
}
